.idea
.DS_Store

src/vendor
config.php

public/dist
public/node_modules
public/config.js
public/package-lock.json
public/src/resources/images/logo.png
public/src/resources/images/favicon.png
modules
src/uploads