@mixin gradient($color1,$color2) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(45deg, $color1 0%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $color1 0%, $color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $color1 0%, $color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2, GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
html {
  height:100%;

}
body {
  height:100%;
  background: #f2f2f2;
}

a {
  color: #2d80ae;
  text-decoration:none;
  &:hover {
    opacity:.7;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;

}

.mainWrapper {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  height: 100%;
}

input, button {
  border: none;
  padding: 4px 10px;
  line-height: 2em;
  outline: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

.button {
  border-radius:5px;
  display: block;
  width: 100%;
  border: none;
  padding: 4px 10px;
  line-height: 2em;
  outline: none;
  background: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:disabled {
    opacity: .3;
    cursor: auto;
    &:active, &:hover {
      opacity: .3;
    }
  }
  &.primary {
    background: $color1;
    color:white;
  }

  &:hover {
    background: #bababa;

  }
  &:active {
    opacity: .5;
  }
  &.success {
    background: #389b19;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background: #2d7114;

    }
  }
  &.button-secondary {
    background:none;
    box-shadow:none;
    border:none;
    &:hover {
      background:#e3e3e3;
    }
  }
}

.box {
  width: 100%;
  background: white;
  border: 1px solid #cecece;
  padding: 10px 20px;
  color: grey;
  box-sizing: border-box;
  margin-bottom:1em;
  &.error {
    color: red;
    border-color: rgba(255, 0, 0, 0.39);
  }
  &.success {
    color:green;
    border-color: #006300;

  }
}

.modale {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .modalbox {
      overflow: auto;
      border-radius:5px;

      .close {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 15px;
        color: grey;
        &:hover {
          opacity: .5;
          cursor: pointer;
        }
      }
      .content {
        overflow: auto;
      }

      position: absolute;
      background: white;
      min-width: 500px;
      max-width: 90%;
      min-height: 100px;
      max-height: 90%;
      padding: 15px;
      padding-top: 35px;
    }
  }
}

.formInput {
  margin-bottom: 15px;
  label {
    text-transform: uppercase;
    font-weight: bold;
    color: #575757;
    font-size: .8em;
  }
  input, textarea, select {
    outline: none;
    box-sizing: border-box;
    border: 1px solid #dadada;
    display: block;
    width: 100%;
    resize: none;
    padding: 5px;
    appearance: none;
    -moz-appearance: none;
  }
  select {
    height: 40px;
  }
  textarea {
    height: 200px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.colorindicator {
  display: inline-block;
  width: .8em;
  height: .8em;
  border-radius: 100%;
  margin-right: 1em;
  &.insidefilter {
    margin-right: 0;
    margin-left: .3em;
    border-radius: 0%;

  }

}

.status_color_wrap {
  text-align: center;
  color: white;
  padding: .3em .6em;
  min-width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .2em;
  font-size: .8em;
}

.boxcontainer {
  background: #f2f2f2;
  box-sizing: border-box;
  flex: 1;
  border: 1px solid #d7d7d7;

  .actionbar {
    .button {
      display: inline-block;
      width: auto;
      text-transform: uppercase;
      margin-bottom: .3em;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      &.button-secondary {
        box-shadow:none;
      }
    }
  }
  &>.title {
    text-transform: uppercase;
    display:flex;
    align-items:center;
    h1 {
      padding: .5em;
      font-weight: normal;
      font-size: 1.7em;
      display: inline-block;
    }
    h2 {
      padding: .5em 1em;
      border-radius:.3em;
      display: inline-block;
      background-color: $color2;
      font-size: .8em;
      color: white;
    }
  }
}


.nowrap {
  white-space: nowrap;
}

.editable > div > .vdatetime {
  display: inline-block;
}

.editable .vdatetime-popup {
  white-space: normal;
}

.icongrid {
  background: #e2e2e2;
  color: #555555;
  border-radius: .3em;
  font-size:1.2em;
  display:inline-block;
  padding:.3em;
  width:auto;
  height:auto;
  svg.material-design-icon__svg {
    width:.9em;
    height:.9em;
    position:relative;
  }
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
  &.blue {
    background: #2592cd;
    color: white;
  }
}

.list_wrapper {
  overflow-x:scroll;
  width:100%;
}

.icon {
  &.success {
    color: #328031;
  }
}

.roundedbox  {
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.1);
  background: white;
  border-radius:5px;
  margin-bottom:.5em;

  .topbar {
    border-bottom: 1px solid #e2e2e2;
    padding:.5em;
  }
  .inner {
    padding:.5em;

  }

}

.editable {
  cursor: pointer;
  display: inline-block;
  & > div {
    display: inline-block;
  }
  .placeholder {
    color: #a9a9a9;
  }
  input {
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
    width: auto;
    display: inline-block;
    background: none;
    color: inherit;
  }
  .icon {
    display: inline-block;
  }
}

.tab-box {
  margin: .5em;
  .tab-box-content {
    border: 1px solid #cdcdcd;
    background: white;
    padding: .3em;
    border-radius:0px 5px 5px 5px;

  }
  .tabs {
    position: relative;
    top: 1px;
    button {
      border-radius: 5px 5px 0px 0px;
      border: 1px solid #cdcdcd;
      border-bottom: 0px;
      margin-right: .5em;
      background: #d5d5d5;
      &.active {
        background: white;
      }
    }
  }
}

.paginator {
  list-style: none;
  padding: 0px;
  li {
    display: inline-block;
    background: #e3e3e3;
    border:1px solid #d8d8d8;
    padding: .4em;
    margin-right: .5em;
    border-radius:5px;
    a {
      color: black;
      text-decoration: none;
      &.active {
        font-weight: bold;
      }
    }
  }
}

.filterbox {
  h2 {
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      background: #efefef;
      margin-bottom: .5em;
      border-radius: .3em;
      display: block;
      padding: .5em;
      .choiced {
        color: green;
        display: inline-block;
        padding-right: 1em;
      }
      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }
}

.icon_notifications {
  display: inline-block;
  position: relative;
  color: #444;
  margin-right: 2em;
  cursor: pointer;
  .number {
    position: absolute;
    left: 0;
    top: 0;
    font-size: .5em;
    font-weight: bold;
    background: red;
    color: white;
    padding: .3em;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-20%);

  }
}

.notif_wrap {
  display: inline-block;
}

.notifcation_box {
  position: absolute;
  background: white;
  transform: translateX(-80%);
  width: 15em;
  border: 1px solid #e5e5e5;
  padding-top: 1em;
  z-index: 200;
  .close {
    font-size: .5em;
    color: grey;
    cursor: pointer;
    position: absolute;
    top: .5em;
    right: .5em;
    padding: .8em;
  }
  .content {
    text-align: left;
    max-height: 300px;
    overflow: auto;

    .no_notif {
      font-size: .6em;
      color: grey;
      padding: 1em .5em;
      font-style: italic;

    }

    .notification {
      font-size: .6em;
      padding: 1em .5em;
      border-bottom: 1px solid #e8e8e8;
      .date {
        color: #4180a0;
        padding-bottom: .5em;
      }
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
}

.modale.modale-markdown {
  .overlay {
    .modalbox {
      min-width: 50%;
      min-height: 50%;
      border-radius:5px;
      padding-bottom: 4em;
      .title {
        text-transform: uppercase;
        color: $color1;
      }
      .actionbar {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .5em;
        right: 0;
        text-align: right;

        .button {
          display: inline-block;
          width: auto;
        }
      }

      textarea {
        outline: none;
        display: block;
        resize: none;
        width: 100%;
        height: 100%;
        min-height: 200px;
      }

    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color:$color2;
  z-index:50;
  .spin {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: rotate;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(365deg);
  }
}

.markdown-entry-description {
  display: flex;
  .markdown-body {
    margin-top: 2em;
    font-size: .9em;
    white-space: pre-line;
    h1, h2, h3, h4, h5, ul, ol {
      margin: 0;
    }
  }
}

.quickaction {
  font-size: 12px;
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: .5em;
    outline: none;
  }
  button {
    background: $color2;
    border: 1px solid $color2;
    color: white;
    padding: .5em;
    font-size: 1em;
    line-height: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 1px;

    &:hover {
      background: $color1;
    }

  }
  .quickactionitem {
    display: inline-block;
  }
}

.main_container {
  padding:.5em;
}

.searchbox {
  input[type="search"] {
    display: inline-block;
    width: 300px;
    border-bottom: 1px solid grey;
  }
  .button {
    display: inline-block;
    width: auto;

  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      background: #efefef;
      margin-bottom: .5em;
      border-radius: .3em;
      display: block;
      padding: .5em;
      &.active {
        background: green;
        color: white;
      }

      .choiced {
        color: green;
        display: inline-block;
        padding-right: 1em;
      }
      &:hover {
        opacity: .7;
        cursor: pointer;
      }
    }
  }
}

.multipleselect,.simpleselect, .tag_editor {
  margin-top:1em;
  margin-bottom:.5em;
  .title {
    font-size:.8em;
    font-weight:bold;
    text-transform:uppercase;
    color:#575757;
  }
  .hint {
    font-style: italic;
    font-size:.8em;
    padding-top:1em;
    color:grey;
  }
  .groupitems {
    padding:.3em;
    border:1px solid #eaeaea;
    margin-top:.5em;
    .item {
      display:inline-block;
      background: #eaeaea;
      border-radius:5px;
      margin-bottom:.5em;
      margin-right:.5em;
      padding:.5em;
    }
    .empty {
      padding:.5em;
      display:inline-block;
    }
    .button {
      display:inline-block;
      width:auto;
      margin-top:.2em;
    }
  }

}
