.logo {
  height:1.5em;
}

.header-end {
  .material-design-icon {
    svg {
      fill: grey !important;
    }

  }
  .logout {
    .material-design-icon {
      svg {
        fill: #b71220 !important;
      }

    }
    margin-left:.5em;
    cursor:pointer;
    &:hover {
      opacity:.7;
    }
  }
}

.list-menu-app {
  padding:0;
}

.menu-bar {
  border-right:1px solid #d5d5d5;
  background-color: #f9f9f9 !important;

}

.md-toolbar.md-theme-default.app-bar {
  background-color: #f9f9f9;
}
