.logo {
  height: 1.5em;
}

.header-end {
  .material-design-icon {
    svg {
      fill: grey !important;
    }

  }

  .logout {
    .material-design-icon {
      svg {
        fill: #b71220 !important;
      }

    }

    margin-left: .5em;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.list-menu-app {
  padding: 0;
}

.menu-bar {
  background-color: transparent !important;
  border-bottom: none !important;

  .md-list.md-theme-default .md-list-item-expand.md-active {
    border-top: none !important;
  }
}

.md-toolbar.md-theme-default.app-bar {
  background-color: white;
  border-left: 1px solid #d5d5d5;



}
